@charset "UTF-8";

/*
HTML é ID = CSS é #
HTML é CLASS = CSS é .
*/
/*
Em HTML é ID = em CSS é # (um elemento)
Em HTML é CLASS = em CSS é . (vários elementos)
*/
body {
    background-color: #C0FAD5;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    color: #51695A;
}

h1#principal {
    text-align: center;
    background-color:#51695A;
    color: white;
}

h2 {
    color: #6B8B77;
}
.basico {
color: #3f895c;
}
.intermediario {
color: #929342;
}
.avançado{
color: #8a4141;
}
.destaque {
    background-color: rgba(204, 204, 98, 0.549);
}