@charset "UTF-8";

body{
            background-color: rgb(102, 102, 102);
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
            color: rgb(212, 211, 211);
            text-align: justify;
        
        }

        h1{
            color: rgb(255, 255, 255);
            font-family: fantasy;
        } 
        h2{
            color: blue;
        }
        p {
            color: blueviolet;
        }