@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right,#F3D1C9, #EBBCB5);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #bb9690b6;
}

h1 {
    color: #EBBCB5;
    text-align: center;
    text-shadow: 1px 1px 2px #a5847fa0;
}

h2{
    color: #9EAFBF;
}

p {
    text-align: justify;
}